doctype html
html 
	include includes/head
	include includes/mixins
	body
		
		header.dark
			.container
				a(href="index.html"): h1.logo TurboPass
				nav
					a(href="login.html") Log out

		.title-line
			.container
				h2 Add Card


		.container.add-card-screen

			.card
				img(src="img/card-01.png", alt="New Card")
				p.balance $0.00


			form(id="", method="", action="my-cards.html")
				+input("Country", "text", "Tatooine")
				+input("State", "text", "Bestine")

				+input("Kind of card", "text", "Millenial Falcon Card")
				+input("Card number", "text", "666 666 666")

				
				.master-card-button
					// Writes DB
					button(type="submit") Continue







		include includes/footer


		


