doctype html
html 
	include includes/head
	body
		
		#screen-05.code-screen
			.top-bar
				a(href="#screen-04") 
					i.fa.fa-chevron-left
				h3 Card Name

			.barcode
				img(src="", alt="barcode")

			.scan
				h4 Scan your code!