doctype html
html 
	include includes/head
	body
		
		#screen-04.cards-screen
			.top-bar
				a(href="#screen-03") 
					i.fa.fa-chevron-left
				h3 My Cards
				
			.cards
				.card
					img(src="img/card-01.png", alt="TatooineBus", data-code="barcode-01") 
					h2 TatooineBus

				.card
					img(src="img/card-02.png", alt="Kashyyyk Card", data-code="barcode-02") 
					h2 Kashyyyk Card

				.card
					img(src="img/card-03.png", alt="TatooineBus", data-code="barcode-03") 
					h2 Death Star Station