doctype html
html 
	include includes/head
	include includes/mixins
	body.picture
		
		header
			.container
				a(href="index.html"): h1.logo TurboPass
				nav
					a(href="index.html") Home
					a(href="signup.html").active Sign Up
					a(href="login.html") Log in

		.title
			h2 Edit my profile

		.content.sign-up-screen
			h3 Personal Information
			form(id="", method="", action="")
				+input("First name", "text", "Darth")
				+input("Last name", "text", "Vader")
				
				+input("Email", "email", "darth.vader@outlook.com")
				+input("Password", "password", "1amYourfath3r")

				label.third 
					span Date of birth
					input(type="number", placeholder="dd", value="30")
					| / 
					input(type="number", placeholder="mm", value="02")
					| / 
					input(type="number", placeholder="yyyy", value="1958")

				+input("Phone number", "text", "555 666 4444")

				label.full By continuing, you accept the TurboPass 
					a(href="#") Terms and Conditions. 

				.call-to-action
					a(href="welcome.html").button Save

		include includes/footer


		


