doctype html
html 
	include includes/head
	include includes/mixins
	body
		
		header.dark
			.container
				a(href="index.html"): h1.logo TurboPass
				nav
					a(href="login.html") Log out

		.title-line
			.container
				h2 My cards

		.instructions
			.container
				h4 1. Select the amount to transfer:

				button(type="submit").button Confirmar

				select
					option(value="20", label="$20.00")
					option(value="30", label="$30.00")
					option(value="50", label="$50.00")
					option(value="100", label="$100.00")

		.instructions.light
			.container
				h4 2. Select the card and transfer the funds



		.container.add-founds-screen

			

			a(href="add-founds.html").card
				img(src="img/card-01.png", alt="New Card")
				p.balance $00.00
				.button-add
					span Add funds

			a(href="add-founds.html").card
				img(src="img/card-02.png", alt="New Card")
				p.balance $70.00
				.button-add
					span Add funds

			a(href="add-founds.html").card
				img(src="img/card-03.png", alt="New Card")
				p.balance $20.00
				.button-add
					span Add funds




		include includes/footer


		


