head
	meta(charset='utf-8')
	
	title TurboPass

	meta(name='description', content='All your public transport cards in one app: TurboPass')
	meta(name='author', content='Violeta Rosales, Ramon Pazos, Jasiel Jimenez')
	meta(name='robots', content='INDEX, FOLLOW')

	link(type='text/plain', rel='author', href='../humans.txt')
	link(rel='shortcut icon', href='../favicon.ico')
	meta(name='viewport', content='width=device-width, maximum-scale=1.0, user-scalable=no')

	// Styles
	link(rel="stylesheet", type="text/css", href="css/styles.css")

	// Scripts
	script(type="application/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
	script(type="application/javascript", src="js/scripts.js")

	// Google Analytics

	// Open Graph